.blue-button {
    background-color: #1295cd;
    color: white;
    border: none;
    padding: 10px 20px;
    cursor: pointer;
    border-radius: 5px;
  }
  
  /* Add hover effect */
  .blue-button:hover {
    background-color:#35b2e7;
  }

  label:hover > .star {
    color: rgb(145, 145, 62);
  }
  .select-container {
    margin-right: 85px;
  }
  .textarea-container {
    margin-top: 100px; /* Adjust the value as needed */
  }

  .select-container{
    border-radius: 50px;
    border-width: 2px;
    border-color: black;

  }