.main-footer{
    color:white;
    background-color: #1295cd;
    padding-top: 1rem;
    position: relative;
    bottom: 0;
    left:0;
    width: 100%;
    height:350px;
    font-size: smaller;
    font-family: 'Raleway', sans-serif;
    
}

.test {
    text-decoration: none;
    color: white;
}

.test:hover {
    text-decoration: underline;
}
