@import url('https://fonts.googleapis.com/css?family=Lato:300;400,700,900');

.slide-container {
    position:relative;
    margin-left: 400px;
    width: 100%;
  }
  
  .image-container {
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 0;
    background-size: cover;
    border-radius: 10px;
  }

  .Nav {
    margin-bottom: 44rem;
    color: white;
  }
  
  
  .caption {
    font-size: 75px;
    color: #fff;
  }


  .outerhome{
   display: flex;
   justify-content: space-between;
   margin-top: 10px;
   margin-bottom: 100px;
  }


  .left{
    width:50%;
    margin-left: -350px; 
    height: 50%;
  }

.left img{
  position: relative;
  height: 200px;
  margin-left: 250px;
}

  .right{
    width: 34%;
    background-color: white;
    text-align: left;
    margin-left: 100px;
    font-family: Lato;
    margin-top: 175px;
    margin-right: 100px;
    align-items: center;
    
  }

  .homebutton1{
    width: 150px;
    height: 45px;
    background: #1295cd;
    border: none;
    outline: black;
    border-radius: 20px;
    cursor: pointer;
    font-size: 16px;
    color: white;
    font-weight: 300;
    margin-top: 40px;
    margin-right:10px;
  
  }
     .homebutton2 {
       width: 150px;
       height: 45px;
       background: #1295cd;
       border: none;
       outline: black;
       border-radius: 20px;
       cursor: pointer;
       font-size: 16px;
       color: white;
       font-weight: 300;
       margin-left: 20px;
       margin-top: 40px;  
     }

  .homebutton1:hover{
    transform: rotate(0deg) skew(0deg) translate(0, -3px);
  }

  .homebutton2:hover{
    transform: rotate(0deg) skew(0deg) translate(0, -3px);

  }


  .right h1{
    font:normal bold 50px 'Raleway', sans-serif;
    margin-bottom: 1px;
  }

  .right h2{
    
    font: normal bold 20px 'Raleway', sans-serif;
    color: gray;

  }

 

  .right p{
    margin-top: 40px;
    font: normal 20px  'Raleway', sans-serif;

  }

 .active{
  text-decoration: none;
 }

 li.active::marker{
  display: none;
 }