* {
  box-sizing: border-box;
}

body {
  margin: 0;
}

.container {
  margin: 1rem;
  text-align: center;
}

.nav {
  padding:0 20px;
  background-color: #1295cd;
  color: white;
  display: flex;
  align-items: stretch;
  justify-content: space-between;
  gap: 2rem;
  font-size: 1.05rem;
  padding: 0 1rem;
  font-family:Verdana, sans-serif;
}

.site-title {
  font-size: 2rem;
  font-weight: bold;
  margin-left: 100px;
}

.nav ul {
  padding: 0;
  margin: 0;
  list-style: none;
  display: flex;
  gap: 2rem;
  margin-right: 100px;
}

.nav a {
  color: inherit;
  text-decoration: none;
  height: 100%;
  display: flex;
  align-items: center;
  padding: .5rem
}


.nav li:hover {
  background-color: rgb(182, 148, 0);
}

.slide-container {
  width: 100%;
  border: none;
}

@import url('https://font.goggleapis.com/css2?family=Poppins:wght@400;600;700&display=swap');

.wrapper{
    width: 600px;
    background: #1295cd;
    color: white;
    border-radius: 40px;
    padding: 100px 40px;
    margin: auto;
    justify-content: center;
    margin-top: 50px;
    margin-bottom: 50px;
}

.wrapper h1{
    font-size:36px;
}

.wrapper .input-box {
    position:relative;
    width:100%;
    height: 50px;
    margin: 30px 0;
}


 .input-box input{
    width:100%;
    height:100%;
    background: transparent;
    border: none;
    outline: none;
    border: 2px solid rgba(255, 255, 255, .2);
    border-radius: 40px;
    font-size: 16px;
    color: white;
    padding:20px 45px 20px 20px;


}

.input-box input::placeholder{

    color: white;

}

.input-box .icon{
    position:absolute;
    right:20px;
    top: 50%;
    transform: translateY(-50%);
    font-size:16px;
}



.wrapper button{
    width: 100%;
    height: 45px;
    background: white;
    border: none;
    outline: none;
    border-radius: 40px;
    box-shadow: 0 0 10px rgba(0, 0, 0, .1);
    cursor: pointer;
    font-size: 16px;
    color: #333;
    font-weight: 700;

}

.wrapper button:hover{
    background-color: rgb(249, 222, 103);
}


.register-link p a{
    color: white;
    text-decoration: none;
    font-weight: 600;

}

.register-link p a:hover{
    text-decoration: underline;
}

.wrapper{
    font-family: 'Poppins', sans-serif;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing:grayscale;
    justify-content: center;
    align-items:center;
}